.ap__plan-container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
}

.ap__plan-container__title {
    color: #fff;
}

.ap__plan-container__image {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ap__plan-container__image img {
    width: 250px;
}

@media screen and (max-width:800px) {
    .ap__plan-container__image img {
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .ap__plan-container__image img {
        width: 50%;
    }

    .ap__plan-container__title p {
        font-size: 12px;
    }
}